{% extends "base/funciones.html" %}

{% block content %}
    <div class="container">
        <br>
        <h3>Listar aulas</h3>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Piso</th>
                    <th scope="col">Numero de pupitres</th>
                    <th scope="col">Asignaturas</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            {% if object_list %}
                {% for aula in object_list %}
                    <tbody>
                        <tr class="table-light">
                            <th scope="row">{{ aula.id_aula }}</th>
                            <td>{{ aula.piso }}</td>
                            <td>{{ aula.numero_pupitres }}</td>
                            <td>{{ aula.asignaturas }}</td>
                            <td>
                                <a href="{% url 'aula_editar' aula.id_aula %}" class="btn btn-success">Editar</a>
                                <a href="{% url 'aula_eliminar' aula.id_aula %}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            {% else %}
            <br>
            <div class="container">
                <h3>Aun no hay aulas registradas</h3>
                <a href="{% url 'aula_crear' %}" class="btn btn-primary">Agregar aulas</a>
            </div>
            <br>
            {% endif %}
        </table>

        {%  if object_list %}
            <a href="{% url 'reporte_aula_pdf' %}" class="btn btn-primary">Generar reporte</a>
        {% endif %}
        <br>
    </div>
{% endblock content %}